@import url('https://fonts.googleapis.com/css?family=Arvo|Work+Sans:400,500,700&display=swap');

body {
    background-color: #ffffff;
    color: #515a5A;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300px;
    font-size: 16px;
}

/*base typography*/
h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    /*    background-color: orange;*/

    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

h2 {
    /*    text-transform: uppercase;*/
    text-align: center;
    font-size: 45px;

    padding: 0 0 0 0;
    letter-spacing: 1px;
    color: gray;
    /*    background-color: lightcoral;*/
    margin-top: 60px;
    margin-bottom: 20px;
}

h2.about-page-left-heading {
    color: skyblue;
    margin-top: 150px;
}

h2.about-page-right-heading {
    color: skyblue;
    margin-top: 150px;

}

h3 {
    /*    background-color: aquamarine;*/
    font-size: 23px;
    color: gray;
}




h4 {
    /*    background-color: yellow;*/
    font-size: 15px;
    color: gray;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px 0 30px;
    text-decoration: underline;
    text-decoration-color: #4c90a4;
    text-transform: uppercase;
    /*    border-bottom: 2px solid #4c90a4;*/



}

h5 {}

h6 {
    font-family: 'Arvo', serif;
    margin: 10px 0 20px 0;
}



p {
    font-size: 30px;

}

p.p1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
    color: coral;
}

p.about-page-text-1 {

    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
}

p.about-page-text-2 {

    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-left: 60px;

}

p.blue {

    color: blue;
    margin: 0 0 60px 0;
}

p.red {
    color: red;
}

p.purple {
    color: mediumpurple;
}

/*link styling*/
a {
    color: :#6BBFD6;
    /*    background-color: black;*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4C90A4;
}

a:active {
    color: yellow;
}


/*base layout*/
.wrapper {
    width: 1100px;
    /*    MARGIN (shorthand): TOP/BOTTOM, LEFT/RIGHT */
    margin: 0 auto;
}

.text-container {
    display: inline;
}

header {
    /*    background-color: aquamarine;*/
    /*    height: 200px;*/
    padding: 20px;
}

/*navigation layout*/
nav {
    /*    background-color: antiquewhite;*/
    float: right;
    margin-bottom: 30px;
}


nav ul {}

nav ul li {
    /*    make them display across the page*/
    display: inline;
    /*    add space between nav boxes*/
    margin-left: 10px;

}

nav ul li a {
    color: #000000;
    text-decoration: none;
    /*    background-color: cornsilk;*/
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li a:hover,
nav ul li a.currentpage {
    background-color: #6BBFD6;
    /*    hide the underline*/
    text-decoration: none;
    color: #ffffff;
}

.hero {
    min-height: 450px;
    background-image: url(../images/churchill-house-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: #f5f5f5;
}


main {
    /*    background-color: peachpuff;*/
    /*    padding-bottom: 50px;*/
    padding: 20px 0;
    overflow: auto;
}

/*general layout*/
img {
    max-height: 260px;
    max-width: 360px;

}

.left-image {
    float: left;
    margin: 0 0 0 0;
    border: 1px solid #000000;
    padding: 10px;
}

.center-image {
    float: center;
    margin: 0 0 0 10px;
    border: 1px solid #000000;
    padding: 10px;
}

.right-image {
    float: right;
    margin: 0 0 0 0;
    border: 1px solid #000000;
    padding: 10px;
}

.second-left-image {
    float: left;
    margin: 0 0 0 0;
    border: 1px solid #000000;
    padding: 10px;
    max-height: 500px;
    max-width: 500px;

}

.second-right-image {
    float: right;
    margin: 0 0 0 50px;
    border: 1px solid #000000;
    padding: 10px;
    max-height: 400px;
    max-width: 500px;

}

.about-page-left-image {
    float: left;
    margin: 310px 0 0 0;
    border: 1px solid #000000;
    padding: 10px;
    max-height: 400px;
    max-width: 500px;

}

.about-page-right-image {
    float: right;
    margin: 160px 40px 280px 50px;
    border: 1px solid #000000;
    padding: 10px;
    max-height: 400px;
    max-width: 500px;

}



/* default list */
ol,
ul {
    margin: 20px 0;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: circle;
}

li {
    margin-left: 40px;
    padding: 5px;
}


footer {
    background-color: lightgray;
    padding-top: 20px;
    border-top: 1px solid #D6D6D6;
}

footer p {
    /*    background-color: lightgreen;*/
    padding: 20px;
    font-size: 90%;
    text-align: center;
    color: #000000;
}
